{% extends 'index.html' %}

{% block content %}
<form method="post">
  <div class="list-group mx-0 w-auto">
      {% for purchase in purchases %}
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0" type="checkbox" name="purchases" value="{{ purchase[0] }}">
      <span class="d-flex gap-2 w-100 justify-content-between">
        {{ purchase[1] }} {{ purchase[3] }}
        <small class="d-block text-muted">{{ purchase[2] }}</small>
      </span>
    </label>
    {% endfor %}
  </div>
  <hr class="my-4">
  <a class="w-100 btn btn-secondary btn-lg" href="/new_purchase">+</a>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" type="submit">Pay</button>
</form>
{% endblock %}
