{% extends 'index.html' %}

{% block content %}
<form method="post">
  <div class="list-group mx-0 w-auto">
      {% for disc in discounts %}
    <label class="list-group-item d-flex gap-2">
      <input class="form-check-input flex-shrink-0"  name="discounts" type="checkbox" value="{{ disc[0] }}">
      <span class="d-flex gap-2 w-100 justify-content-between">
        {{ disc[1] }}
        <small class="d-block text-muted">{{ disc[2] }}%</small>
      </span>
    </label>
      {% endfor %}
  </div>
  <hr class="my-4">
  <a class="w-100 btn btn-secondary btn-lg" href="/new_discount">+</a>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" href="/discounts">Submit</button>
</form>
{% endblock %}
