{% extends 'index.html' %}

{% block content %}
<form method="post">
  <div class="row g-1">
    <div class="col-12">
      <label for="country" class="form-label">Category</label>
      <select class="form-select" name="issue_category" required="" value="{{ request.form['issue_category'] }}">
        <option value="">Choose...</option>
        {% for cat in categories %}
            <option value="{{ cat[0] }}">{{ cat[1] }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid dish.
      </div>
    </div>
    <div class="col-12">
      <label for="zip" class="form-label">Your issue</label>
      <textarea class="form-control" name="issue_text" placeholder="Write here..." required="" rows="3"
        value="{{ request.form['issue_text'] }}"></textarea>
      <div class="invalid-feedback">
        Zip code counter.
      </div>
    </div>
  </div>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
  </div>
</form>
{% endblock %}
