{% extends 'index.html' %}

{% block content %}
<form method="post">
  <div class="row g-1">

    <div class="col-12">
      <label for="restourant" class="form-label">Restaurant</label>
      <select class="form-select" name="restaurant" required="" value="{{ request.form['restaurant'] }}">
        <option value="">Choose...</option>
        {% for rest in restaurants %}
            <option value="{{ rest[0] }}">{{ rest[1] }}</option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid Restaurant.
      </div>
    </div>
    <div class="col-12">
      <label for="zip" class="form-label">Procent</label>
      <input type="text" class="form-control" name="procent" placeholder="20 or 14 or 10" required=""
        value="{{ request.form['procent'] }}">
      <div class="invalid-feedback">
        Zip code counter.
      </div>
    </div>
  </div>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
  </div>
</form>
{% endblock %}
