{% extends 'index.html' %}

{% block content %}
<form method="post">
  <div class="row g-1">
    <div class="col-12">
      <label for="username" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text">@</span>
        <input type="text" class="form-control" name="username_eat" placeholder="Username of eater" required=""
          value="{{ request.form['username_eat'] }}">
        <div class="invalid-feedback">
          Your username is required.
        </div>
      </div>
    </div>
      <div class="col-12">
      <label for="date" class="form-label">Date</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" name="date" placeholder="Date of purchase" required=""
          value="{{ request.form['date'] }}">
        <div class="invalid-feedback">
          Your username is required.
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="country" class="form-label">Restaurant</label>
      <select id="rest" class="form-select" name="restaurant" required="" value="{{ request.form['restaurant'] }}">
        <option value="">Choose...</option>
          {% for rest in restaurants %}
              <option value="{{ rest[0] }}">{{ rest[1] }}</option>
          {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid Restaurant.
      </div>
    </div>
    <div class="col-md-5">
      <label for="country" class="form-label">Dish</label>
      <select class="form-select" name="dish" value="{{ request.form['dish'] }}">
        <option value="">Choose...</option>
        {% for dish in dishes %}
              <option value="{{ dish[0] }}">{{ dish[1] }} {{ dish[2] }}</option>
          {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid dish.
      </div>
    </div>
    <div class="col-md-4">
      <label for="zip" class="form-label">Count</label>
      <input type="text" class="form-control" name="count" placeholder="1 or 1.4 or 2" required=""
        value="{{ request.form['count'] }}">
      <div class="invalid-feedback">
        Zip code counter.
      </div>
    </div>
  </div>

  <hr class="my-4">
  <label for="country" class="form-label">Dish</label>
      <select class="form-select" name="disc" value="{{ request.form['disc'] }}">
        <option value="">Choose...</option>
        {% for disc in discounts %}
              <option value="{{ disc[0] }}">{{ disc[1] }} {{ disc[2] }}%</option>
          {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please select a valid dish.
      </div>
  <hr class="my-4">
  <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
  </div>
</div>
</form>
{% endblock %}
